@import '../../app/_variables';

search-form {

	.search-form-inner {
		width: 80%;
		margin: 20px auto;
		text-align: center;

		#search-form {
			width: 650px;
			max-width: 100%;
			margin: auto;

			.search-by {
				float: right;

				p {
					font-size: 14px;
					font-weight: lighter;
				}

				button {
					float: left;
					margin: 2px;
					background: none;
					border: none;
					outline: none;
					color: $LightGray;

					.fa {
						color: $SeaGreen;
					}

					&.active {
						color: $DarkGray;
					}

					&:hover {
						cursor: pointer;
					}
				}
			}

			.formblock {

				input {
					height: 80px;
					box-shadow: inset 0 0 1px 1px $LighterGray;
					border: none;
					outline: none;
					border-radius: 5px;
					width: 100%;
					padding: 0 20px 0 20px;
					box-sizing: border-box;
					font-size: 18px;
					color: #404040;
					font-family: Courier;
					font-weight: 100;
					letter-spacing: 2px;
					transition: all 0.3s ease;

					&:focus {
						box-shadow: inset 0 0 1px 1px $LightGray;
						transition: all 0.3s ease;
					}
				}
			}

			.search-results {
				margin: 5px auto;
				height: 300px;
				overflow-y: scroll;
				width: 99%;
				background: #fff;
				box-shadow: 0 0 5px $LightGray;
				text-align: left;

				.results-list {

					li {
						border-bottom: 1px solid $LighterGray;
						color: $LightGray;
						padding: 5px 0 5px 0;

						a {
							display: block;
							color: $LightGray;
							text-decoration: none;
							font-size: 12px;
							padding: 10px 0 10px 5px;
						}

						&.center {
							margin-top: 50px;
							text-align: center;
							border: none;
							color: $SeaGreen;

							.fa-spinner {
								font-size: 48px;
							}
						}
					}

					li:not(.center):hover {
						background: $SeaGreen;
						color: #fff;

						.lyrics-button {
							color: #fff;
						}

						a {
							color: #fff;
						}
					}
				}
			}
		}
	}
}