
		<div class="search-form-inner">
			<form id="search-form" name="form" novalidate>
				<div class="search-by">
					<p>search by: </p>
					<button type="button" 
						data-ng-click="vm.ChangeSearchBy('artist')" 
						class="search-by" 
						data-ng-class="{'active': vm.searchBy === 'artist'}">
						<span class="fa fa-check" data-ng-if="vm.searchBy === 'artist'"></span>
						artist
					</button>
					<button type="button" 
						data-ng-click="vm.ChangeSearchBy('track')" 
						class="search-by" 
						data-ng-class="{'active': vm.searchBy === 'track'}">
						<span class="fa fa-check" data-ng-if="vm.searchBy === 'track'"></span>
						track
					</button>
					<button type="button" 
						data-ng-click="vm.ChangeSearchBy('both')" 
						class="search-by" 
						data-ng-class="{'active': vm.searchBy === 'both'}">
						<span class="fa fa-check" data-ng-if="vm.searchBy === 'both'"></span>
						both
					</button>
				</div>
				<div class="formblock">
					<input type="text" id="searchField" name="searchField"
						placeholder="Search by {{vm.searchBy !== 'both' ? vm.searchBy : 'artist &amp; track'}} ...." 
						data-ng-model="vm.searchField" 
						data-ng-change="vm.Search()" 
						data-ng-model-options="{debounce: 300}"
						focus-me="vm.focusSearchField">
				</div>

				<div class="search-results" data-ng-if="vm.searchField">
					<ul class="results-list">

						<li class="center" 
							data-ng-if="!vm.searchResults.length && !vm.resultsLoading">
							no results
						</li>

						<li class="center" 
							data-ng-if="vm.resultsLoading && !vm.searchResults.length">
							<span class="fa fa-spinner fa-spin"></span>
						</li>

						<li data-ng-repeat="result in vm.searchResults">
							<a 
								ui-sref="lyrics({
									artist: result.linkFriendlyArtistName,
									title: result.linkFriendlyTitle,
									snippet: result.snippet,
									fullArtistName: result.artist.name,
									fullTitle: result.title,
									lyricsLink: result.url,
									artistLink: result.artist.url
								})">
								{{ result.artist.name }} - {{ result.title }}
							</a>
						</li>
					</ul>
				</div>
			</form>
		</div>