@import '../../app/_variables';

site-header {
	display: block;
	height: 185px;
	width: 100%;
	background: $DarkGray;
	color: $SeaGreen;
	text-align: center;

	.site-header-inner {

		img {
			margin: 45px 0 25px 0;
		}

		h1 {
			text-transform: uppercase;
			letter-spacing: 2px;
			font-size: 10px;
			font-family: 'Helvetica Neue';
		}
	}
}