$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import '_reset.scss';
@import '_variables.scss';
@import 'lyrics/_lyrics.scss';
@import 'main/_main.scss';
@import '../components/search-form/_search-form.scss';
@import '../components/site-header/_site-header.scss';
// endinjector

body {
	background: #e8e8e8;
	font-family: Courier;

	.fade.ng-hide {
		animation: fadeOut 0.5s linear;
	}

	.fade.ng-show {
		animation: fadeIn 0.5s linear;
	}

	@keyframes fadeIn {
		from { 
			opacity:0; 
		}
		to { 
			opacity:1; 
		}
	}

	@keyframes fadeOut {
		from { 
			opacity:1; 
		}
		to { 
			opacity:0; 
		}
	}
}
